@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    @apply bg-primary text-white px-4 md:px-8 py-4;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    @apply text-2xl md:text-4xl font-bold uppercase;
  }

  h2 {
    @apply text-xl md:text-2xl;
  }
  h3 {
    @apply text-lg md:text-xl;
  }
  h4 {
    @apply text-white md:text-lg;
  }

  .icons {
    @apply w-5 h-5 text-white mx-1;
  }
};

@layer components {
  /* app layout */
  .app-layout {
    @apply flex flex-col justify-between min-h-full;
  }

  .main {
    @apply my-4 md:my-8 space-y-4 md:space-y-8;
  }

  /* nav styles */
  .navbar {
    @apply hidden md:flex flex-row justify-between items-center;
  }

  .nav-item {
    @apply font-semibold
  }

  .nav-item::after {
    @apply block w-0 bg-white transition-all duration-300;
    content:'';
    height: 2px
  }

  .active::after {
    @apply block w-full bg-white transition-all duration-300;
    content:'';
    height: 2px
  }

  .nav-item:hover::after {
    @apply w-full;
  }

  .mobile-nav {
    @apply md:hidden
  }

  .top-mobile-menu {
    @apply flex flex-row justify-between;
  }

  .menu {
    @apply h-8 w-8 text-white cursor-pointer relative ml-auto z-50;
  }

  .pages-links {
    @apply bg-white absolute right-0 top-0 hidden flex-col py-36 space-y-8 px-4 z-40 min-h-screen rounded-md;
    width: 40vw;
  }

  .nav-mobile-item {
    @apply z-50 text-primary text-center;
  }

  /* slider */
  /* social media */
  .social-media-wrapper {
    @apply flex flex-row md:flex-col md:space-y-4 mt-12 order-last md:order-first;
  }

  .social-media-icons {
    @apply mx-4 w-8 h-8 p-1
  }

  .social-media-icons:hover {
    @apply rounded bg-secondary
  }

  /* --- */
  .slider {
    @apply flex flex-col md:flex-row justify-center md:justify-between my-8 space-y-12 align-top items-center;
  }

  .slider-nav {
    @apply flex flex-row md:flex-col md:align-middle md:text-center space-x-4 md:space-x-0 md:space-y-4 font-bold;
  }

  .arrow-left-slider, .arrow-right-slider{
    @apply rounded-full p-2 w-8 h-8 bg-tertiandry/60 md:rotate-90 md:text-center;
  }

  .arrow-left-slider:hover, .arrow-right-slider:hover{
    @apply bg-secondary/80;
  }

  .slides-information {
    @apply mx-4 w-3/5;
  }

  .slide-information {
    @apply relative z-0 space-y-4;
  }

  .slide-image {
    @apply relative w-full h-[40vh];
    z-index: -999 !important;
  }

  .image-in-slider {
    @apply w-full;
  }

  .slide-text {
    @apply uppercase text-center;
  }

  /* jajanan */
  .wallet-wrapper {
    @apply flex flex-row justify-center space-x-2 items-center;
  }

  .wallet-icons {
    @apply relative w-10 h-10 cursor-pointer;
  }

  /* snacks */
  .snacksData-container {
    @apply flex flex-col;
  }
  .add-icons, .cash-out-icons, .sort-icons {
    @apply w-8 h-8 p-0.5 cursor-pointer hover:bg-secondary/80 rounded-full;
  }

  .sorting-item {
    @apply flex flex-row space-x-2 items-center overflow-visible mx-auto md:mx-0;
  }
  /* lists sort option */
  .listsort-wrapper {
    @apply relative z-10;
  }
  .listsort-button {
      @apply relative w-full cursor-default rounded-lg border bg-white py-2 pl-3 pr-10 text-left shadow-md focus:outline-none focus-visible:border-secondary/80 focus-visible:ring-2 focus-visible:ring-white/75 focus-visible:ring-offset-2 focus-visible:ring-offset-secondary/30 text-sm md:text-base;
  }
  .listsort-icons-wrapper {
      @apply pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2
  }
  .selectorsort-icons, .check-icon {
      @apply h-5 w-5 text-secondary;
  }
  .listsort-options {
      @apply absolute mt-1 max-h-60 w-full rounded-md bg-white text-white shadow-lg ring-1 ring-secondary/5 focus:outline-none text-sm md:text-base md:text-white overflow-y-visible;
  }
  .listsort-option {
      @apply flex flex-row cursor-default select-none py-2 pl-2 pr-2 z-10;
  }
  .sort-name {
    @apply block truncate text-secondary;
  }
  .check-icon-wrapper {
      @apply relative inset-y-0 flex items-center pr-1 text-secondary/60;
  }
  /* snacks */
  .snacks-container {
    @apply grid grid-cols-2 md:grid-cols-4 justify-items-stretch my-8;
  }
  .snack-item-container {
    @apply grid justify-items-center m-4;
  }
  .snack-details-container {
    @apply grid grid-cols-2 justify-between auto-cols-min w-full;
  }
  .snack-name, .snack-price {
    @apply font-semibold text-white capitalize text-base lg:text-xl;
  }
  .snack-price {
    @apply text-right;
  }
  .snack-createdAt {
    @apply text-sm text-white/80;
  }


  /* footer */
  .footer {
    @apply flex flex-row justify-center items-center;
  }
};

@layer utilities {
  
}


